*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  

}

h1{
    font-size: 36px;
    font-weight: 300;
}
.container{
    width: 100%;
    
    display: grid;
    grid-template-areas: 
    "navbar"
    "filters"
    "gallery"
    "footer";
    grid-template-rows: auto auto 1fr auto;
}

.navbar{
    padding-inline: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    grid-area: navbar;
    background-color: #4a7db8;   
    
}

.title{    
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 36px;
    font-weight: 300;
    padding: 10px;
}

.menu{
    display: flex;
    gap: 20px;
    button{
        padding: 10px;
        border: none;
        background-color: #4a7db8;
        color: white;
        font-size: 18px;
        cursor: pointer;        
    }
}

.nav-links{
    color: white;
    list-style: none;
    color: white;
    font-size: 18px;
    display:none;
    a{
        color: white;
        text-decoration: none;
    }
    
    
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 10px;
    grid-area: filters;
    background-color: #dbdbdb;
    padding: 10px;
    padding-bottom: 20px;
}

#filter{
    padding: 10px;
    width: 75vw;
    border: none;
}

.gallery{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-area: gallery;      
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    background-color: #bacacc;
    margin: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
    h3{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        font-size: 16px;
        font-weight: 200;
    }
}

.card img{
    overflow: hidden;  
    object-fit: cover;
    width: 100%;
}
.card button{
    padding: 10px;
    width: 150px;
    border: none;
    background-color: #2460b9;
    border: 2px solid #2460b9;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
.card button:hover{
    background-color: #4a7db8;
    border: 2px inset white;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-content: center;
    grid-area: footer;
    background-color: #4a7db8;
    gap: 5px;
    text-align: center;
    font-weight: 200;
    p{
        align-self: center;
        color: white;
    }
}
.icons{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Responsive Design */

@media (min-width: 576px) {
    .container{
        grid-template-areas: 
        "navbar filters"
        "navbar gallery"
        "navbar gallery"
        "footer gallery";
        grid-template-columns: 20vw 80vw;        
    }
    .menu{
        display: flex;
        flex-direction: column;
        
        button{
            display: none;      
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        position: sticky;
    }
    .filters{
        width: 80vw;
    }
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        
    }
    h1{
    font-size: 18px;
    font-weight: 200;
    }   
    .title{
        font-size: 20px;
        font-weight: 200;
    }
    
}